stud-1{color:blue;}
stud-1{color:blue;}
stud-2{color:red;}
stud-3{color:green;}
student{font-size:100%;}
student-info{color:blue;font-style:italic;font-size:200%;}
usn,name,college,branch,year,email{display:block;}